<br>
<br>





<!-- Footer-->
<footer class="footer text-center " align ="center">
    <div class="container">
    
        <!-- Footer Location-->
        
            <h4 class="text-uppercase mb-4 text-center" align ="center">IIC2413</h4>
            <p class="lead mb-0 text-center">
                Bases de Datos
                <br />
                Pontificia Universidad Católica de Chile
            </p>
        </div>
        <!-- Footer Social Icons-->
    
    
        
    </div>
    </footer>
    <!-- Final -->
    <div class="copyright py-3 text-center text-white">
    <div ><small>Hecho por <i class="fa fa-heart" style="font-size:20px; color:red"></i></small></div>
    <div class="container"><small> Trinidad Gil, Teresa Porzio, Vicente Lyon, Felipe Guzmán </small></div>
    </div>    
    </body>

</body>